apiVersion: apps/v1beta1
kind: Deployment
metadata:
  namespace: default
  name: api 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api 
  template:
    metadata:
      labels:
        app: api 
    spec:
        containers:
        - name: api 
          image: dockerowy/appa-apiql:dev 
          imagePullPolicy: Always 
          envFrom:
          - configMapRef:
              name: appa-config
          env:
          - name: UPDATED_AT
            value: "{{ UPDATED_AT }}"
          ports:
          - containerPort: 9000
            name: http-port