apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: orders 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orders 
  template:
    metadata:
      labels:
        app: orders 
    spec:
        containers:
        - name: order-service 
          image: dockerowy/oldiez-order-service:dev 
          imagePullPolicy: Always 
          command: [
            "./order-service",
            "--selector=static",
            "--server_address=:8080"
          ]
          envFrom:
          - configMapRef:
              name: oldiez-config
          env:
          - name: UPDATED_AT
            value: "{{ UPDATED_AT }}" 
          ports:
          - containerPort: 8080
            name: orders-port