apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: trades 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trades 
  template:
    metadata:
      labels:
        app: trades 
    spec:
        containers:
        - name: trade-engine 
          image: dockerowy/appa-trade-engine:dev 
          imagePullPolicy: Always 
          command: [
            "./service",
            "--selector=static",
            "--server_address=:8080"
          ]
          envFrom:
          - configMapRef:
              name: appa-config
          env:
          - name: UPDATED_AT
            value: "{{ UPDATED_AT }}" 
          ports:
          - containerPort: 8080
            name: orders-port