apiVersion: extensions/v1beta1 
kind: Deployment
metadata:
  namespace: default
  name: stories 
spec:
  replicas: 1
  selector:
    matchLabels:
      app: stories 
  template:
    metadata:
      labels:
        app: stories 
    spec:
        containers:
        - name: stories 
          image: dockerowy/appa-story-service:dev 
          imagePullPolicy: Always 
          command: [
            "/service",
            "--selector=static"
          ]
          env:
          - name: UPDATED_AT
            value: "{{ UPDATED_AT }}"
          - name: DB_URL 
            valueFrom:
              configMapKeyRef:
                name: appa-config 
                key: DB_URL 
          - name: DATA_PATH
            valueFrom:
              configMapKeyRef:
                name: story-config
                key: DATA_PATH 
          ports:
          - containerPort: 9000
            name: http-port
          volumeMounts:
          - name: data-storage
            mountPath: /data
        volumes:
          - name: data-storage 
            persistentVolumeClaim:
              claimName: git-claim 